body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    text-align: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    margin-top: 0;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin-right: 5px;
}

button {
    padding: 5px 10px;
}

.notas-lista {
    text-align: left;
    margin-bottom: 10px;
}

.media {
    font-weight: bold;
}